<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>36657885045-991udcmfndl66l28a7re3j6uhcktof59.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.36657885045-991udcmfndl66l28a7re3j6uhcktof59</string>
  <key>ANDROID_CLIENT_ID</key>
  <string>36657885045-civddiccqg8vivftirso94b45rvq3pd5.apps.googleusercontent.com</string>
  <key>API_KEY</key>
  <string>AIzaSyA6Kyv-eYH7Hlum9K1XiijTg_dDrP6kZ4Q</string>
  <key>GCM_SENDER_ID</key>
  <string>36657885045</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.tiki.mr</string>
  <key>PROJECT_ID</key>
  <string>tiki-a9d30</string>
  <key>STORAGE_BUCKET</key>
  <string>tiki-a9d30.firebasestorage.app</string>
  <key>IS_ADS_ENABLED</key>
  <false/>
  <key>IS_ANALYTICS_ENABLED</key>
  <false/>
  <key>IS_APPINVITE_ENABLED</key>
  <true/>
  <key>IS_GCM_ENABLED</key>
  <true/>
  <key>IS_SIGNIN_ENABLED</key>
  <true/>
  <key>GOOGLE_APP_ID</key>
  <string>1:36657885045:ios:29c0bbd964befef5dbed3c</string>
</dict>
</plist>
